* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    background-color: #FCFCFC;
    min-width: 700px;
}

div {
    padding: 0.25rem;
}

#header {
    background-color: #5d4df0;
    color: #FFFFFF;
    padding: 1rem;
    display: flex;
    align-items: stretch;
}

#logo {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#menu {
    display: flex;
    width: 100%;
    font-weight: bold;
    font-size: 1.25rem;
    justify-content: space-between;
    align-items: center;
}

.menu_item {
    padding: 0 1.25rem;
    height: 100%;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
}

.menu_link {
    text-decoration: none;
    color: #FFFFFF;
}

.menu_item:hover {
    transition: all 0.2s ease;
    background-color: #3334B9;
    background-image: linear-gradient(to top right,
            #7d7bfa 0%,
            #6b4df3 25%,
            #553bca 50%,
            #5b33b9 100%);
    border: 0.25rem solid #fdf7f7;
}

h2 {
    padding-bottom: 1rem;
}

#search_title {
    padding-bottom: 0;
}

p {
    font-size: 1rem;
    text-align: justify;
    padding-bottom: 1rem;
}

#section {
    padding: 1rem;
    margin: 0 1rem;
}

#form_div {
    display: flex;
    gap: 2rem;
    justify-content: center;
    text-align: center;
    align-items: center;
}

input[type=number] {
    width: 100%;
    padding: 0.75rem 0.5rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 0.25rem solid #7d7bfa;
    border-radius: 1rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

.control_button {
    width: 10rem;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.75rem 0.5rem;
    margin: 0.5rem 0;
    color: #FFFFFF;
    background-color: #6b4df3;
    border: 0.25rem outset #6b4df3;
    border-radius: 1rem;
}

.control_button:hover {
    background-color: #6b4df3;
    border-color: #a9a0fd;
}

#submit_div {
    display: flex;
    justify-content: center;
}

#table {
    display: flex;
    justify-content: center;
    overflow: auto;
}

table {
    width: 75%;
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    text-align: center;
}


td {
    padding: 0.5rem;
    border: 0.1rem solid #6b4df3;
    border-radius: 1rem;
}

th {
    padding: 0.5rem;
    border-bottom: 0.2rem solid #6b4df3;
    border-top: 0.2rem solid #6b4df3;
    border-radius: 1rem;
}